@import url("./fonts/EuclidCircularB/stylesheet.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.3;
}

input:-moz-placeholder {
    color: #000000;
    opacity: 0.3;
}

input {
    text-overflow: ellipsis;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Euclid Circular B';
    font-weight: 500;
    font-style: normal;
}

body {
    position: relative;
}

a {
    text-decoration: none;
    color: black;
}

.d-flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
    align-items: center;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.outer-container {
    position: relative;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    min-height: 100vh;
    z-index: 3;
}

.inner-container {
    max-width: 1110px;
    margin-left: auto;
    margin-right: auto;
}

.header {
    background-color: #F5F5F5;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* Серый фильтр для Яндекс Карты */
[class*="ymaps-2"][class*="-ground-pane"] {
    filter: grayscale(1);
    -ms-filter: grayscale(1);
    -webkit-filter: grayscale(1);
    -moz-filter: grayscale(1);
    -o-filter: grayscale(1);
}